In [1]:
import pandas as pd
import json

In [2]:
df=pd.read_csv("../Resources/austin_housing.csv")
df

,zpid,city,streetAddress,zipcode,latitude,longitude,propertyTaxRate,garageSpaces,hasAssociation,hasCooling,...,numOfMiddleSchools,numOfHighSchools,avgSchoolDistance,avgSchoolRating,avgSchoolSize,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories,homeImage
0,111373431,pflugerville,14424 Lake Victor Dr,78660,30.430632,-97.663078,1.98,2,True,True,...,1,1,1.266667,2.666667,1063,14,3.0,4,2,111373431_ffce26843283d3365c11d81b8e6bdc6f-p_f...
1,120900430,pflugerville,1104 Strickling Dr,78660,30.432672,-97.661697,1.98,2,True,True,...,1,1,1.400000,2.666667,1063,14,2.0,4,1,120900430_8255c127be8dcf0a1a18b7563d987088-p_f...
2,2084491383,pflugerville,1408 Fort Dessau Rd,78660,30.409748,-97.639771,1.98,0,True,True,...,1,1,1.200000,3.000000,1108,14,2.0,3,1,2084491383_a2ad649e1a7a098111dcea084a11c855-p_...
3,120901374,pflugerville,1025 Strickling Dr,78660,30.432112,-97.661659,1.98,2,True,True,...,1,1,1.400000,2.666667,1063,14,2.0,3,1,120901374_b469367a619da85b1f5ceb69b675d88e-p_f...
4,60134862,pflugerville,15005 Donna Jane Loop,78660,30.437368,-97.656860,1.98,0,True,True,...,1,1,1.133333,4.000000,1223,14,3.0,3,2,60134862_b1a48a3df3f111e005bb913873e98ce2-p_f.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15166,29512934,austin,905 Silcantu Dr,78748,30.161997,-97.816345,1.98,6,False,True,...,1,1,0.900000,3.333333,1424,14,2.0,3,1,29512934_ff9b6eefa7e2eb4e9ef983da13a23098-p_f.jpg
15167,241937773,austin,1413 Waterloo Shore Ln UNIT 12,78741,30.240223,-97.772835,1.98,2,True,True,...,1,1,1.900000,6.666667,1226,16,4.0,3,3,241937773_66d3e483bd783eac5a52ff5f938d2a2e-p_f...
15168,29473281,austin,2206 S 3rd St,78704,30.244835,-97.761124,1.98,2,False,True,...,1,1,0.800000,5.000000,889,13,3.0,3,2,29473281_9e90ec4652c4b3b6592a7fdd09f1ea6d-p_f.jpg
15169,29392029,austin,2000 Chestnut Ave,78722,30.281569,-97.717789,1.98,0,False,True,...,1,1,1.300000,6.666667,1057,15,2.0,4,1,29392029_a9a8306ea363d23f37d91d37975a1b96-p_f.jpg
15170,29390174,austin,3110 E 12th St,78702,30.276930,-97.701523,1.98,1,False,True,...,1,1,1.900000,6.666667,1057,15,1.0,2,1,29390174_9580c60e14870498b2ce98b5f889471e-p_f.jpg

In [3]:
df.columns

Index(['zpid', 'city', 'streetAddress', 'zipcode', 'latitude', 'longitude',
       'propertyTaxRate', 'garageSpaces', 'hasAssociation', 'hasCooling',
       'hasGarage', 'hasHeating', 'hasSpa', 'hasView', 'homeType',
       'parkingSpaces', 'yearBuilt', 'latestPrice', 'numPriceChanges',
       'latest_saledate', 'latest_salemonth', 'latest_saleyear',
       'latestPriceSource', 'numOfPhotos', 'numOfAccessibilityFeatures',
       'numOfAppliances', 'numOfParkingFeatures', 'numOfPatioAndPorchFeatures',
       'numOfSecurityFeatures', 'numOfWaterfrontFeatures',
       'numOfWindowFeatures', 'numOfCommunityFeatures', 'lotSizeSqFt',
       'livingAreaSqFt', 'numOfPrimarySchools', 'numOfElementarySchools',
       'numOfMiddleSchools', 'numOfHighSchools', 'avgSchoolDistance',
       'avgSchoolRating', 'avgSchoolSize', 'MedianStudentsPerTeacher',
       'numOfBathrooms', 'numOfBedrooms', 'numOfStories', 'homeImage'],
      dtype='object')

In [4]:
#numOfPrimarySchools', 'numOfElementarySchools', 'numOfMiddleSchools', 'numOfHighSchools' sum these into "numOfSchools"
df["numOfSchools"]=df['numOfPrimarySchools']+df['numOfElementarySchools']+df['numOfMiddleSchools']+df['numOfHighSchools']
df[["numOfSchools"]]

       numOfSchools
0                 3
1                 3
2                 4
3                 3
4                 3
...             ...
15166             3
15167             3
15168             3
15169             3
15170             3

[15171 rows x 1 columns]

In [5]:
#remove homeImage, avgSchoolSize, MedianStudentsPerTeacher, latest_salemonth, latest_saleyear, zpid, numOfPhotos
df.drop(columns=[ "homeImage", 
                 "avgSchoolSize", 
                 "MedianStudentsPerTeacher", 
                 "latest_salemonth", 
                 "latest_saleyear",
                 "latest_saledate",
                 "zpid",
                 "avgSchoolDistance",
                 "numOfPhotos",
                 "hasAssociation",
                 'numOfPrimarySchools',
                 "latestPriceSource",
                 'numOfElementarySchools', 
                 'numOfMiddleSchools',
                 'parkingSpaces',
                 'numOfHighSchools'], inplace=True)

df.head()

,city,streetAddress,zipcode,latitude,longitude,propertyTaxRate,garageSpaces,hasCooling,hasGarage,hasHeating,...,numOfWaterfrontFeatures,numOfWindowFeatures,numOfCommunityFeatures,lotSizeSqFt,livingAreaSqFt,avgSchoolRating,numOfBathrooms,numOfBedrooms,numOfStories,numOfSchools
0,pflugerville,14424 Lake Victor Dr,78660,30.430632,-97.663078,1.98,2,True,True,True,...,0,1,0,6011.0,2601,2.666667,3.0,4,2,3
1,pflugerville,1104 Strickling Dr,78660,30.432672,-97.661697,1.98,2,True,True,True,...,0,0,0,6185.0,1768,2.666667,2.0,4,1,3
2,pflugerville,1408 Fort Dessau Rd,78660,30.409748,-97.639771,1.98,0,True,False,True,...,0,0,0,7840.0,1478,3.000000,2.0,3,1,4
3,pflugerville,1025 Strickling Dr,78660,30.432112,-97.661659,1.98,2,True,True,True,...,0,0,0,6098.0,1678,2.666667,2.0,3,1,3
4,pflugerville,15005 Donna Jane Loop,78660,30.437368,-97.656860,1.98,0,True,False,True,...,0,0,0,6708.0,2132,4.000000,3.0,3,2,3

### Filter out 0 bedrooms, too many bath and/or beds, too expensive/cheap

In [6]:
lotSizeSqFt=df.sort_values(by="lotSizeSqFt")
lotSizeSqFt=lotSizeSqFt.astype({"lotSizeSqFt":"int"})
lotSizeSqFt[["lotSizeSqFt","livingAreaSqFt","latestPrice"]].head(30)

       lotSizeSqFt  livingAreaSqFt  latestPrice
9212           100             770       429900
9217           100             732       415000
11989          113            1245       305000
10475          117            2172       457000
9231           217            2099      1049000
8959           392            1474       271860
3666           392            1080       205000
3628           392            1415       212900
3656           396            1080       189900
3647           400            1355       157500
977            435            1753       342000
10598          435            1104       500000
6122           435            1961       669500
9206           435             567       205000
14398          522             504       179900
9573           553            1125       514900
10698          583             466       224900
2157           605            1198       169000
2168           609            1200       156000
2134           609            1226       174900
9359           609             493       165000
9238           635             880       330000
9218           644            1033       435000
13314          657             378       175000
11115          696             878       188000
9214           701             613       225000
9225           740             509       194000
14595          784             793       219900
9213           815             450       151500
14790          827             910       289500

In [7]:
df=df.loc[(df["latestPrice"]>45000) & 
          (df["latestPrice"]<6500000) &
          (df["numOfBedrooms"]>0) &
          (df["numOfBathrooms"]>0) &
          (df["numOfBathrooms"]!= 27) &
          (df["numOfBathrooms"]!= 1.75) &
          (df["numOfBathrooms"]!= 1.70) &
          (df["numOfBedrooms"]!= 20) &
          (df["numOfBathrooms"]!= 2.75)&
          (df["lotSizeSqFt"]<10000000)&
          (df["lotSizeSqFt"]>df["livingAreaSqFt"])]
df.reset_index(drop=True,inplace=True)

In [8]:
df.columns

Index(['city', 'streetAddress', 'zipcode', 'latitude', 'longitude',
       'propertyTaxRate', 'garageSpaces', 'hasCooling', 'hasGarage',
       'hasHeating', 'hasSpa', 'hasView', 'homeType', 'yearBuilt',
       'latestPrice', 'numPriceChanges', 'numOfAccessibilityFeatures',
       'numOfAppliances', 'numOfParkingFeatures', 'numOfPatioAndPorchFeatures',
       'numOfSecurityFeatures', 'numOfWaterfrontFeatures',
       'numOfWindowFeatures', 'numOfCommunityFeatures', 'lotSizeSqFt',
       'livingAreaSqFt', 'avgSchoolRating', 'numOfBathrooms', 'numOfBedrooms',
       'numOfStories', 'numOfSchools'],
      dtype='object')

In [9]:
df["homeType"].value_counts()

Single Family            14167
Condo                      442
Townhouse                  156
Multiple Occupancy          86
Residential                 37
Apartment                   19
Mobile / Manufactured       17
MultiFamily                 10
Vacant Land                  7
Other                        3
Name: homeType, dtype: int64

## Export to file

In [10]:
df.to_csv("../Resources/austin_housing_reduced.csv",index=False)

## Create GEOJSON file

In [11]:
geo={"type": "FeatureCollection","features": []}

for i in df.index:
    one_feat={"type": "Feature",
     "geometry": {
        "type": "Point",
        "coordinates": [df["longitude"].iloc[i],df["latitude"].iloc[i]]
      },
     "properties": {"Address":df["streetAddress"].iloc[i],
                    "zipcode":int(df["zipcode"].iloc[i]),
                    "garageSpaces":int(df["garageSpaces"].iloc[i]),
                    "numOfStories":int(df["numOfStories"].iloc[i]),
                    "homeType":df["homeType"].iloc[i],
                    "numOfBathrooms":int(df["numOfBathrooms"].iloc[i]),
                    "numOfBedrooms":int(df["numOfBedrooms"].iloc[i])}}
    geo["features"].append(one_feat)

In [12]:
geo["features"][0:5]

[{'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-97.66307831, 30.43063164]},
  'properties': {'Address': '14424 Lake Victor Dr',
   'zipcode': 78660,
   'garageSpaces': 2,
   'numOfStories': 2,
   'homeType': 'Single Family',
   'numOfBathrooms': 3,
   'numOfBedrooms': 4}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-97.66169739, 30.4326725]},
  'properties': {'Address': '1104 Strickling Dr',
   'zipcode': 78660,
   'garageSpaces': 2,
   'numOfStories': 1,
   'homeType': 'Single Family',
   'numOfBathrooms': 2,
   'numOfBedrooms': 4}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-97.63977051, 30.40974808]},
  'properties': {'Address': '1408 Fort Dessau Rd',
   'zipcode': 78660,
   'garageSpaces': 0,
   'numOfStories': 1,
   'homeType': 'Single Family',
   'numOfBathrooms': 2,
   'numOfBedrooms': 3}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-97.66165924, 30.43211174]},
  'properties': {'Address': '1025 Strickling Dr',
   'zipcode': 78660,
   'garageSpaces': 2,
   'numOfStories': 1,
   'homeType': 'Single Family',
   'numOfBathrooms': 2,
   'numOfBedrooms': 3}},
 {'type': 'Feature',
  'geometry': {'type': 'Point', 'coordinates': [-97.65686035, 30.43736839]},
  'properties': {'Address': '15005 Donna Jane Loop',
   'zipcode': 78660,
   'garageSpaces': 0,
   'numOfStories': 2,
   'homeType': 'Single Family',
   'numOfBathrooms': 3,
   'numOfBedrooms': 3}}]

In [13]:
with open("../Resources/austin.geojson", "w") as outfile:
    json.dump(geo, outfile)